<!DOCTYPE html>
<html>
    <head>
        <title> </title>
    </head>
    <body>
<style>
#navbar {
    text-align:center;
}

#navbar li{
    display:inline-block;
    border:3px solid black;
    border-color: white;
}

#navbar a{
    background-color: red;
    color: pink;
}
#navbar li:hover {
    background-color: white;
}
</style>
    </body>
</html>