<!DOCTYPE html>
<html>
    <head>
        <title> </title>
    </head>
    <body>
<style>
#navbar {
    text-align:center;
}

#navbar li{
    display:inline-block;
    border:2px solid black;
}

#navbar a{
    
}
</style>
    </body>
</html>