h1 {
color:violet;
}

body {
background-color:teal;
font-family: helvetica, sans-serif;
}

.p-1 {
color: white;
border: 3px solid #8B2E5F;
}
 .p-2 {
     color: white;
     border: 2px invisible blue;
 }
 h2 {
     color: orange;
 }