#welcome {
color:violet;
}

body {
background-color:teal;
font-family: helvetica, sans-serif;
}

.p-1 {
color: white;
border: 3px solid #8B2E5F;
width: 60%;
height: 60px;
overflow-y: hidden;
overflow-x: auto;
margin: 15px 0px 10px 6px;
}
 .p-2 {
     color: white;
     border: 2px solid blue;
     width: 30%;
     height: 100px;
     overflow-y: hidden;
     overflow-x: auto;
     margin: 15px 0px 10px 6px;
 }
 .liter {
     color: orange;
     position: relative;
 }
 #smiley {
  position:relative;
  left: 25em;
  bottom: 10em;
 }
 #books {
  position: absolute;
  border: 2px ridge orange;
 }
 #intro {
  color: pink;
 }
 #reading {
  position: absolute;
 }
 #intro-smiley {
  text-align: center;
 }
 #liter-book {
  text-align: center;
 }
 .liter {
  position: absolute;
  bottom: 10em;
 }
 #books {
  position: absolute;
  bottom: .5em;
  left:  500px;
 }
 #comp {
  position: relative;
  text-align: right;
  right: 100px;
  top: 3em;
  color: brown;
 }
 
 #open-book {
  position: absolute;
  bottom: .5em;
  left: 52em;
  border: 2px ridge brown;
 }
 .comp-sci {
  position: absolute;
  top: 48em;
  border: 2px ridge yellow;
  color: white;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 15px 0px 10px 6px;
 }
 #comp-pic {
  position: absolute;
  left: 64em;
  top: 48em;
  border: 2px ridge red;
  margin: 15px 0px 10px 6px;
 }
 
 h2 {
  text-decoration: underline;
 }
 
 #karuta {
  position:relative;
  top: 13em;
  color: turquoise;
 }
 .karuta-para {
  position: absolute;
  top: 65em;
  border: 2px solid white;
  color: white;
 }
 #karuta-pic {
  position: absolute;
  top: 65em;
  left: 54em;
  border: 2px ridge navy;
  margin: 15px 0px 10px 6px;
 }
 #thanks {
  text-decoration: underline;
  text-align: center;
  position: absolute;
  bottom: 100px;
  color: purple;
  
 }